.logoDiv img {
  width: 200px;
  margin: 0 50px 0 50px;
  padding: 1%;
}

.menuDiv {
  margin: 1% 0 0 0;
}

.menuDiv span {
  margin-top: 4%;
  margin-left: 10px;
}

.menuDiv .link {
  margin-top: 3%;
  font-weight: 700;
}
