.menuSection {
  display: flex;
  margin-bottom: 20px;
}

.logoDiv img {
  width: 200px;
  margin: 20px 50px 0 50px;
  padding: 1%;
}

.menuDiv {
  margin: 45px 0 0 0;
  padding: 20px 20px 0 0;
}

.menuDiv span {
  margin-left: 20px;
}

.menuDiv .link {
  font-weight: 700;
  margin-left: 15px;
  text-decoration: none;
  color: black;
}
