.homeContainer {
  background: url('../../assets/laptop.jpeg') 0 -300px;
  background-size: 100%;
  text-align: center;
  opacity: 0.9;
  color: white;
  padding: 10px;
}

.homeContainer h1:first-child {
  font-weight: bold;
  padding-top: 40px;
  font-size: 3rem;
}

.homeContainer h3 {
  margin-top: 40px;
}

.button {
  margin: 20px;
  color: white;
  font-weight: bold;
  background-color: #ff9a00;
}
